[tool.poetry]
name = "bot-core"
version = "2.0.0"
description = "Bot-Core provides the core functionality and utilities for the bots of the Python Discord community."
authors = ["Python Discord <info@pythondiscord.com>"]
license = "MIT"
classifiers=[
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
packages = [
    { include = "botcore" },
]
exclude = ["tests", "tests.*"]

[tool.poetry.dependencies]
python = "3.9.*"
# It is expected that bots that use bot-core will define a striciter version of disnake.
disnake = "^2"

[tool.poetry.dev-dependencies]
flake8 = "4.0.1"
flake8-annotations = "2.7.0"
flake8-bugbear = "22.1.11"
flake8-docstrings = "1.6.0"
flake8-import-order = "0.18.1"
flake8-string-format = "0.3.0"
flake8-tidy-imports = "4.6.0"
flake8-todo = "0.7"
pep8-naming = "0.12.1"
pre-commit = "2.17.0"
taskipy = "1.10.1"
python-dotenv = "0.19.2"
pytest = "7.0.1"
pytest-cov = "3.0.0"
pytest-xdist = "2.5.0"
Sphinx = "4.4.0"
GitPython = "3.1.27"
sphinx-autodoc-typehints = "1.17.0"
furo = "2022.2.23"


[tool.taskipy.tasks]
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
apidoc = "sphinx-apidoc -o docs/output botcore -feM"
builddoc = "sphinx-build -nW -j auto -b html docs docs/build"
docs = "task apidoc && task builddoc"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.run]
branch = true
source_pkgs = ["botcore"]
source = ["tests"]
