[tool.poetry]
name = "pydis_core"
version = "9.5.1"
description = "PyDis core provides core functionality and utility to the bots of the Python Discord community."
authors = ["Python Discord <info@pythondiscord.com>"]
license = "MIT"
classifiers=[
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]
packages = [
    { include = "pydis_core" },
]
include = ["LICENSE"]
exclude = ["tests", "tests.*"]
readme = "README.md"
homepage = "https://pythondiscord.com/"
documentation = "https://bot-core.pythondiscord.com/"
repository = "https://github.com/python-discord/bot-core"
keywords = ["bot", "discord", "discord.py"]

[tool.poetry.dependencies]
python = "3.10.* || 3.11.*"

"discord.py" = "2.2.2"
async-rediscache = { version = "1.0.0rc2", extras = ["fakeredis"], optional = true }
statsd  = "4.0.1"
aiodns = "3.0.0"

[tool.poetry.extras]
async-rediscache = ["async-rediscache"]

[tool.poetry.group.dev.dependencies]
taskipy = "1.10.3"
python-dotenv = "1.0.0"

[tool.poetry.group.test.dependencies]
pytest = "7.2.1"
pytest-cov = "4.0.0"
pytest-xdist = "3.2.0"

[tool.poetry.group.lint.dependencies]
flake8 = "6.0.0"
flake8-annotations = "3.0.0"
flake8-bugbear = "23.2.13"
flake8-docstrings = "1.7.0"
flake8-import-order = "0.18.2"
flake8-string-format = "0.3.0"
flake8-tidy-imports = "4.8.0"
flake8-todo = "0.7"
pep8-naming = "0.13.3"
pre-commit = "3.1.1"
typing-extensions = "4.5.0"

[tool.poetry.group.doc.dependencies]
Sphinx = "6.1.3"
GitPython = "3.1.31"
sphinx-autodoc-typehints = "1.22"
furo = "2022.12.7"
six = "1.16.0"
releases = "2.1.0"
sphinx-multiversion = "0.2.4"
docstring-parser = "0.15"
typing-extensions = "4.5.0"
tomli = "2.0.1"

[tool.taskipy.tasks]
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
docs = "sphinx-build -nW -j auto -b html docs docs/build"
test = "pytest -n 8 --ff"
retest = "pytest -n 8 --lf"

[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.run]
branch = true
source_pkgs = ["pydis_core"]
source = ["tests"]
