[tool.poetry]
name = "pydis_core"
version = "9.0.0"
description = "PyDis core provides core functionality and utility to the bots of the Python Discord community."
authors = ["Python Discord <info@pythondiscord.com>"]
license = "MIT"
classifiers=[
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]
packages = [
    { include = "pydis_core" },
]
include = ["LICENSE"]
exclude = ["tests", "tests.*"]
readme = "README.md"
homepage = "https://pythondiscord.com/"
documentation = "https://bot-core.pythondiscord.com/"
repository = "https://github.com/python-discord/bot-core"
keywords = ["bot", "discord", "discord.py"]

[tool.poetry.dependencies]
python = "3.10.*"
"discord.py" = "2.0.1"
async-rediscache = { version = "1.0.0rc2", extras = ["fakeredis"], optional = true }
statsd  = "3.3.0"
aiodns = "3.0.0"

[tool.poetry.extras]
async-rediscache = ["async-rediscache"]

[tool.poetry.dev-dependencies]
typing-extensions = "4.3.0"
flake8 = "5.0.4"
flake8-annotations = "2.9.1"
flake8-bugbear = "22.9.11"
flake8-docstrings = "1.6.0"
flake8-import-order = "0.18.1"
flake8-string-format = "0.3.0"
flake8-tidy-imports = "4.8.0"
flake8-todo = "0.7"
pep8-naming = "0.13.2"
pre-commit = "2.20.0"
taskipy = "1.10.3"
python-dotenv = "0.21.0"
pytest = "7.1.3"
pytest-cov = "3.0.0"
pytest-xdist = "2.5.0"
Sphinx = "5.2.2"
GitPython = "3.1.27"
sphinx-autodoc-typehints = "1.19.4"
furo = "2022.9.15"
six = "1.16.0"
releases = "1.6.3"
sphinx-multiversion = "0.2.4"

[tool.taskipy.tasks]
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
docs = "sphinx-build -nW -j auto -b html docs docs/build"
test = "pytest -n 8 --ff"
retest = "pytest -n 8 --lf"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.run]
branch = true
source_pkgs = ["pydis_core"]
source = ["tests"]
